github "Alamofire/Alamofire"
github "SnapKit/SnapKit"
github "mac-cain13/R.swift.Library"
github "Swinject/Swinject"
github "yannickl/AwaitKit"
github "mxcl/PromiseKit"
github "alickbass/CodableFirebase"
