github "Alamofire/Alamofire"
github "SnapKit/SnapKit"
github "mac-cain13/R.swift.Library"
github "Swinject/Swinject"
github "yannickl/AwaitKit"
github "mxcl/PromiseKit"
binary "https://dl.google.com/dl/firebase/ios/carthage/FirebaseAnalyticsBinary.json"
binary "https://dl.google.com/dl/firebase/ios/carthage/FirebaseDatabaseBinary.json"
